
/* *{ border: 1px dashed red} */
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace, sans-serif;
    justify-content: space-between;
    width: 100vw;
    height: auto;
}

#container{
    min-width: 550px;
    width: 600px;
    height: 600px;
    display: inline-grid;
    padding: 20px ;
    border-radius: 10px;
    background-color: lightblue;
    grid-template-columns: repeat(16. 2fr);
    grid-template-rows: repeat(16. 2fr);
    border-right: 5px solid rgb(57, 138, 165);
    border-top: 5px solid rgb(57, 138, 165);
}

.grid{
    
    background-color: white;
    border: 1px solid grey;
    margin: 0%;
}

button{
    width: 100px;
    background-color: lightblue;
    color: darkslategrey;
    border-radius: 3px;
    border: 2px solid rgb(57, 138, 165);
    font-weight: 700;
}

#buttons{
    padding-bottom: 10px;
    
}